@import "tailwindcss";

@theme {
  --color-primary: #8B5CF6;
  --color-secondary: #F472B6;
  --color-background: #F9FAFB;
  --color-textMain: #1F2937;
  --color-danger: #EF4444;
  --color-success: #22C55E;
  
  --font-sans: 'Inter', 'Poppins', 'Nunito', 'sans-serif';
}

@layer base {
  body {
    @apply bg-background text-textMain font-sans;
  }
}
